.menuCard {
    /* width: 100%; */
    /* position: relative; */
      /* width: 100%; */
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 3rem;
    text-decoration: none;
    opacity: 1;
    /* animation-name: cardanimation;
    animation-duration: .6s; */
}

/* @keyframes cardanimation {
    0%   {transform: scale(0.8);}
    100% {transform: scale(1.0);}
  } */

.menuCardInner {
    height: 28.5rem;
    /* overflow: hidden; */
    box-shadow: 0 0.5rem 2rem rgb(0 0 0 / 40%);
    
}

.menuCardDetail{
    padding: 1rem;
}

.menuCardImage {
    height: 15rem;
    position: relative;
    /* background-image: url("https://tides.today/imageproxy/jpg/996491f7-ee74-45d6-854d-43a91fd2cba2_IMG_20190204_140025?auto=compress,format&rect=0,0,1200,900&w=1024&h=768"); */
    /* background-image: url("http://localhost:3000/img/food3.jpg"); */
    background-image: url("http://54.206.204.237/img/card3.jpg");
    content: '';
    width: 100%;
    background-size: cover;
    padding-right: 15px;
    padding-left: 15px;
  }

.menuCardTitle {
    margin-top: -48px;
    margin-bottom: 2.5rem;
    position: relative;
    padding: .75rem;
    background: #fff;
  }
  .menuCardTitle::after{
    display: block;
    content: '';
    background-color: #d66044;
    height: .4rem;
    width: 8rem;
    bottom: -.75rem;
    left: 1rem;
    position: absolute;
  }
  .menuCardDetail span {
    color: #d66044;
    font-style: italic;
  }
  
  .menuCardDetail p {
    padding: 0 1rem;
  }
  
  .summary {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .filterChips {
    display: table;
    margin: 0 auto;
}

  .typeChip{
    display: inline-block;
    height: 36px;
    font-size: 13px;
    font-weight: 500;
    line-height: 34px;
    cursor: pointer;
    border: 1px solid #d66044;
    border-radius: 25px;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
}


.typeChipUnselected {
    color: #d66044;
    background-color: white;
}


.typeChipSelected{
    color: white;
    background-color: #d66044;
}

  